* {
  background-color: #282c34;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.App-link {
  color: #61dafb;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-bottom: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: white;
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.sign-up{
  margin-bottom: 10px;
}

.world{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group mt-3{
  /*vertical-align: bottom;*/
  /*align-self: flex-start;*/
}

.form-group-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-control {
}

/*.OOF {*/
/*  position: absolute;*/
/*}*/

/*.email {*/
/*  position: relative;*/
/*}*/